body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}   

.header-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.logo-color {
    color: #2e2f42;
}

.menu-open-btn {
    border: none;
    background-color: transparent;
    margin-left: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.menu-open-icon {
    fill: #2F2F37;
}

.header-menu {
    display: none;
}

.mob-sidebar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: 1;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}

.menu-close-btn {
    display: block;
    margin-left: auto;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: transparent;
    margin-bottom: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.menu-close-btn:focus .modal-btn-icon {
    fill: #FFFFFF;
}

.sidebar-menu-item {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-menu-link:focus,
.sidebar-menu-link:active {
    color: #404BBF;
}

.sidebar-address-link {
    color: #434455;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-address-link:focus,
.sidebar-address-link:active {
    color: #4D5AE5;
}

.phone-number {
    color: #4d5ae5;
}

.sidebar-tel:not(:last-child) {
    margin-bottom: 24px;
}

.sidebar-soc-list {
    display: flex;
    gap: 40px;
    margin-top: 48px;
}

.sidebar-soc-item {
    width: 40px;
    height: 40px;
}

.sidebar-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-soc-link:focus,
.sidebar-soc-link:active {
    background-color: #31D0AA;
}

.sidebar-soc-icon {
    fill: #F4F4FD;
}

.current {
    color: #404BBF;
}

.contact-info {
}

.contact-list {
    display: none;
}

.header-address-link:focus,
.header-address-link:active {
    color: #404BBF;
}

.main {
    background-color: #2E2F42;
    padding: 72px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
    url(../images/main-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 320px;
    margin: 0 auto;
}

@media (min-resolution: 192dpi) {
    .main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/main-mob@2x.jpg);
    }
}

.main-container {
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.main-title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    max-width: 169px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.main-btn {
    color: #FFF;
    background-color: #4D5AE5;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:focus,
.main-btn:active {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-icon-bg {
    display: none;
}

.features-item-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
    padding: 96px 0;
    text-align: center;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

.team-item {
    background-color: #FFF;
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-descr {
    padding: 32px 0;
}

.team-image {
    width: 100%;
}

.team-name {
    color: #2E2F42;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-position {
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-soc-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:focus {
    background-color: #404bbf;
}

.team-soc-icon {
   fill: #F4F4FD;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px 24px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    top: 0;
    color: #f4f4fd;
    background-color: #4D5AE5;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:active .portfolio-cover-text {
    transform: translateY(0);
}

.portfolio-descr {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
}

.portfolio-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.studio-color {
    color: #f4f4fd;
}

.footer-together {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 16px;
}

.footer-logo-soc {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer-soc-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-soc-title {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.footer-soc-list {
    display: flex;
    gap: 16px;
    /* margin-right: 80px; */
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:focus {
    background-color: #31D0AA;
}

.footer-soc-icon {
    fill: #F4F4FD;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.footer-form-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    text-align: center;
}

.footer-input {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ffffff;
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    height: 40px;
    color: #FFF;
    width: 288px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-input::placeholder {
    color: #FFF;
}

.footer-btn {
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    color: #FFF;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:focus {
    background-color: #404BBF;
}

.footer-btn-icon {
    fill: #FFFFFF;
}

.footer-form-align{
    display: flex;
    gap: 24px;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    position: absolute;
    right: 24px;
    top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:focus {
    background-color:#404BBF;
    border: none;
}

.modal-btn-close:focus .modal-btn-icon {
    fill: #FFFFFF;
}

.modal-title {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    outline: transparent;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
    fill: #4D5AE5;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-comment {
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    height: 120px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    outline: transparent;
    resize: none;
}

.modal-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.check-text {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
}

.check-text a {
    color: #4D5AE5;
    text-decoration-line: underline;
}

.checkbox-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.modal-form-btn {
    display: block;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    min-width: 169px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.modal-form-btn:focus {
    background-color: #404BBF;
    border: none;
}

@media screen and (min-width: 768px) {

    .container {
        width: 768px;
    }

    .header-menu {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        gap: 40px;
        margin: 0;
        padding: 0;
    }

    .header-menu-link {
        display: block;
        color: #2E2F42;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-menu-link:hover,
    .header-menu-link:focus {
        color: #404BBF;
    }
    
    .current {
        color: #404BBF;
    }
    
    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        width: 100%;
    }
    
    .contact-info {
        font-style: normal;
        margin-left: auto;
    }
    
    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .header-address-link {
        color: #434455;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-address-link:hover,
    .header-address-link:focus,
    .header-address-link:active {
        color: #404BBF;
    }
    
    .menu-open-btn {
        display: none;
    }

    .main {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/main-tab.jpg);
    }

    @media (min-resolution: 192dpi) {
        .main {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/main-tab@2x.jpg);
        }
    }

    .main-container {
        gap: 36px;
    }

    .main-for {
        text-transform: lowercase;
    }

    .main-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .features-item-title {
        text-align: start;
    }

    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    .footer-together {
        flex-direction: row;
        flex-wrap: wrap;
    }

   .footer-logo-soc {
        flex-direction: row;
        gap: 24px;
   }
   
   .footer-logo {
        text-align: start;
   }

    .footer-soc-title {
        align-self: flex-start;
    }

    .footer-form-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-input {
        width: 264px;
    }

    .modal {
        width: 408px;
        min-height: 584px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .check-text a {
        margin-left: 4px;
    }

    .privacy-text {
        display: flex;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {

    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    
    .features-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }

    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }
    
    .footer-together {
        padding-left: 108px;
    }
}

@media screen and (min-width: 1158px) {

    .container {
        width: 1158px;
    }

    .contact-info {
        margin-left: auto;
    }

    .contact-list {
        flex-direction: row;
        gap: 40px;
    }

    .header-address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
    }

    .header-address-link:hover {
        color: #404BBF;
    }

    .main {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/main-background.jpg);
    }

    @media (min-resolution: 192dpi) {
        .main {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/main@2x.jpg);
        }
    }

    .main-container {
        gap: 48px;
    }
    .main-title{
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 48px;
    }

    .main-for {
        text-transform: lowercase;
    }

    .main-btn:hover {
        background-color: #404BBF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .features-list {
        flex-direction: row;
        gap: 24px;
        justify-content: space-between;
    }

    .features-icon-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
        padding: 24px 100px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }

    .features-text {
        font-weight: 400;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .features-item-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: start;
    }

    .team {
        padding: 120px 0;
    }

    .team-list {
        flex-direction: row;
        gap: 24px;
        justify-content: center;
    }

    .team-soc-link:hover{
        background-color: #404bbf;
    }

    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }

    .portfolio-item:hover {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    .portfolio-item:hover .portfolio-cover-text {
        transform: translateY(0);
    }

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-together {
        flex-wrap: nowrap;
        gap: 80px;
    }

    .footer-logo-soc {
        gap: 120px;
    }
        
   .footer-soc-link:hover{
       background-color: #31D0AA;
   }

    .footer-form {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
        border-color: #FFF;
        opacity: unset; 
    }

    .footer-btn:hover {
        background-color: #404BBF;
    }

    .modal-btn-close:hover {
        background-color: #404BBF;
        border: none;
    }
    
    .modal-btn-close:hover .modal-btn-icon {
        fill: #FFFFFF;
    }

    .modal-input:hover {
        border-color: #4D5AE5;
    }

    .modal-input:hover+.modal-input-icon {
        fill: #4D5AE5;
    }

    .modal-comment:hover {
        border-color: #4D5AE5;
    }

    .modal-form-btn:hover {
        background-color: #404BBF;
        border: none;
    }
}